/* Font From Google */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* CSS reset or normalization snippet */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* CSS variables with their corresponding color */

:root {
  --bg-color: #1f242d;
  --secound-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

/* Basic Degine */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Header Style */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

/* a.active to fix the one list */

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* Home Section Degine */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_img img {
  width: 35vw;
}

.home_container h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

/* the second child of its parent container  */

.home_container h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home_container h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home_container p {
  font-size: 1.2rem;
}

.social_media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
}

.social_media a:hover {
  background: var(--main-color);
  color: var(--secound-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.btn:hover {
  box-shadow: none;
}

/* About Section Degine */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--secound-bg-color);
}

.about_img img {
  width: 35vw;
}

.about_contain h2 {
  text-align: left;
  line-height: 1.2;
}

.about_contain h3 {
  font-size: 2.6rem;
}

.about_contain p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.heading {
  align-items: center;
  font-size: 4.5rem;
}

/* Sevice Section Degine */

.services h2 {
  margin: 5rem;
}

.services_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service_box {
  flex: 1 1 30rem;
  background: var(--secound-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 4rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.service_box:hover {
  border-color: var(--main-color);
  transition: scale(1.02);
}

.service_box i {
  font-size: 7rem;
  color: var(--main-color);
}

.service_box h3 {
  font-size: 2.6rem;
}

.service_box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* Portfolio Section degine */

.portfolio {
  background: var(--secound-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio_box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem --bg-color;
  overflow: hidden;
  display: flex;
}

.portfolio_box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio_box:hover img {
  transform: scale(1.1);
}
.portfolio_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio_box:hover .portfolio_box {
  transform: translateY(0);
}

.portfolio_layer h4 {
  font-size: 3rem;
}

.portfolio_layer p {
  font-size: 0.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio_layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio_layer a i {
  font-size: 2rem;
  color: var(--main-color);
}
/* Contact Degine */

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.input_box input,
textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  margin: 0.7rem 0;
  border-radius: 0.8rem;
  color: var(--text-color);
  background: var(--secound-bg-color);
}

.input_box input {
  width: 49%;
}

.textareas {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* Footer degins */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--secound-bg-color);
  padding: 2rem 9%;
}

.footer_text p {
  font-size: 1.6rem;
}

.footer_icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer_icon a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer_icon a i {
  font-size: 2.4rem;
  color: var(--secound-bg-color);
}
